@import "../../assets/scss/globals";
@import "../../assets/scss/variables";


.add_todo {
 background-color: var(--bg-todo);
 height: 2.5rem;
 border-radius: $border_radius;
 display: flex;
 align-items: center;
 padding: 0 1.2rem;
 margin-bottom: 2rem;

 .input_text {
  width: 100% !important;
  background-color: var(--bg-todo);
  border: none;
  outline: none;
  color: var(--font-color);
  margin-left: 1rem;

  &::placeholder {
   color: var(--muted);
  }
 }
}