@import "../../assets/scss/globals";
@import "../../assets/scss/variables";

.clear_todos {
 color: var(--muted);
 background: var(--bg-todo);
 padding: 0 1.2rem;
 position: relative;
 align-items: center;

 p {
  white-space: nowrap;
  width: 15rem;
 }

 &>button {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
  width: 15rem;

  &:hover {
   color: var(--hover);
  }

 }
}