@import "../../assets/scss/globals";
@import "../../assets/scss/variables";


.todo {
 display: flex;
 align-items: center;
 //codigo que coincide con add_todo
 background-color: $very_dark_desaturated_blue;
 height: 3rem;
 padding: 0 1.2rem;
}


.crossed_text {
 text-decoration: line-through;
 color: $very_dark_grayish_blue !important;

}

.icon_cross {
 width: .9rem;
 height: .9rem;
 margin-right: 0;
 margin-left: auto;
}


.todo_text {
 margin: 0 1rem;
 color: #fff;
}