@import "../../assets/scss/globals";
@import "../../assets/scss/variables";


.todo {
 display: flex;
 align-items: center;
 //codigo que coincide con add_todo
 background-color: var(--bg-todo);
 height: 3rem;
 padding: 0 1.2rem;
}


.crossed_text {
 text-decoration: line-through;
 color: var(--muted) !important;
}

.icon_cross {
 width: .9rem;
 height: .9rem;
 margin-right: 0;
 margin-left: auto;
 cursor: pointer;
}


.todo_text {
 margin: 0 1rem;
 color: var(--font-color);
}