.header {
 background-image: url("../../assets/images/bg-mobile-dark.jpg");
 background-size: cover;
 height: 12.3rem;
 width: 100%;
 margin-bottom: -9rem;
 padding-top: 1rem;

}

@media (min-width:1024px) {
 .header {
  background-image: url("../../assets/images/bg-desktop-dark.jpg");
 }
}